@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 77.8125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #475467;
  font-size: 1.125rem;
  line-height: 1.5;
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.page-hero {
  max-width: 90rem;
  margin: 0 auto;
  padding: 10.625rem 0rem;
  position: relative;
}
@media (max-width: 61.99875em) {
  .page-hero {
    padding: 7.5rem 0rem;
  }
}
@media (max-width: 35.93625em) {
  .page-hero {
    padding: 6.25rem 0rem;
  }
}
@media (max-width: 23.4375em) {
  .page-hero {
    padding: 3.75rem 0rem;
  }
}
.page-hero__content {
  max-width: 34.375rem;
}
.page-hero__label {
  position: relative;
  color: #026aa2;
  font-weight: 500;
  font-size: 0.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  background-color: #f0f9ff;
  border-radius: 1rem;
  padding: 0.25rem 1.875rem 0.25rem 0.25rem;
  border: 0.0625rem solid #b9e6fe;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page-hero__label:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 50em) {
  .page-hero__label:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (any-hover: hover) {
  .page-hero__label:hover {
    background-color: #065986;
    color: #fff;
  }
}
.page-hero__label span {
  padding: 0.125rem 0.625rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 0.0625rem solid #b9e6fe;
  color: #026aa2;
}
.page-hero__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.6875rem;
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/arrow-right.svg") 0 0/contain no-repeat;
}
.page-hero__title {
  font-size: 3.75rem;
  color: #101828;
  line-height: 1.2;
  font-weight: 600;
}
@media (max-width: 50em) {
  .page-hero__title {
    font-size: 2.8125rem;
  }
}
@media (max-width: 29.99875em) {
  .page-hero__title {
    font-size: 2.5rem;
  }
}
.page-hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 50em) {
  .page-hero__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.page-hero__text {
  max-width: 30rem;
  font-size: 1.25rem;
}
.page-hero__text:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 50em) {
  .page-hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.page-hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.page-hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
@media (max-width: 23.4375em) {
  .page-hero__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page-hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
  padding: 1rem 1.5rem;
  color: #344054;
  border-radius: 0.5rem;
  border: 0.0625rem solid #d0d5dd;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 74.99875em) {
  .page-hero__link {
    background-color: #0086c9;
    border: 0.0625rem solid #0086c9;
    color: #fff;
  }
}
@media (max-width: 50em) {
  .page-hero__link {
    padding: 0.9375rem;
  }
}
@media (max-width: 23.4375em) {
  .page-hero__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (any-hover: hover) {
  .page-hero__link:hover {
    background-color: #065986;
    color: #fff;
    border-color: #065986;
  }
  .page-hero__link:hover path {
    stroke: #fff;
  }
}
.page-hero__link--blue {
  background-color: #0086c9;
  border: 0.0625rem solid #0086c9;
  color: #fff;
}
.page-hero__link path {
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}
@media (max-width: 74.99875em) {
  .page-hero__link path {
    stroke: #fff;
  }
}
.page-hero__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 47.5rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 84.375em) {
  .page-hero__image {
    max-width: 40.625rem;
  }
}
@media (max-width: 74.99875em) {
  .page-hero__image {
    max-width: none;
    width: 115%;
  }
  .page-hero__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
.page-hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.page-hero__main-link {
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid transparent;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}
@media (any-hover: hover) {
  .page-hero__main-link:hover {
    border-bottom-color: inherit;
  }
}
.page-hero__main-link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  background: url("../img/icons/arrow-grey.svg") 0 0/contain no-repeat;
}

.button {
  padding: 0.75rem 1.25rem;
  background-color: #0086c9;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #0086c9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #065986;
    border-color: #065986;
  }
}
.button--white {
  background-color: #fff;
  color: #344054;
  border: 0.0625rem solid #d0d5dd;
}
@media (any-hover: hover) {
  .button--white:hover {
    color: #fff;
  }
}

.section-header--text-center {
  text-align: center;
}
.section-header__sub-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #026aa2;
}
.section-header__sub-title:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 50em) {
  .section-header__sub-title:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.section-header--text-light .section-header__sub-title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 50em) {
  .section-header--text-light .section-header__sub-title:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.section-header--text-light .section-header__sub-title {
  color: #f5fbff;
}
.section-header__title {
  color: #101828;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 50em) {
  .section-header__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 29.99875em) {
  .section-header__title {
    font-size: 1.5rem;
  }
}
.section-header__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 50em) {
  .section-header__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.section-header--text-light .section-header__title {
  color: #fff;
  font-size: 3rem;
}
@media (max-width: 50em) {
  .section-header--text-light .section-header__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .section-header--text-light .section-header__title {
    font-size: 1.5rem;
  }
}
.section-header__text {
  font-size: 1.25rem;
}
@media (max-width: 50em) {
  .section-header__text {
    font-size: 1.125rem;
    text-align: justify;
  }
}
@media (max-width: 29.99875em) {
  .section-header__text {
    line-height: 1.2;
  }
}
.section-header__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.section-header--text-light .section-header__text p:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 50em) {
  .section-header--text-light .section-header__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.section-header--text-light .section-header__text {
  color: #b9e6fe;
  font-size: 1.125rem;
}
.guarantee .section-header__text {
  text-align: center;
}

.start {
  padding: 6rem 0rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgb(6, 89, 134)), color-stop(50%, rgb(255, 255, 255)));
  background: linear-gradient(0deg, rgb(6, 89, 134) 50%, rgb(255, 255, 255) 50%);
}
@media (max-width: 74.99875em) {
  .start {
    padding: 3.75rem 0rem;
  }
}
@media (max-width: 50em) {
  .start {
    padding: 2.5rem 0rem;
  }
}
.start__wrapper {
  padding: 4rem;
  background-color: #f9fafb;
  -webkit-box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
          box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 61.99875em) {
  .start__wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 50em) {
  .start__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.9375rem;
    padding: 1.5625rem 0.9375rem;
  }
}
@media (max-width: 50em) {
  .start__content {
    text-align: center;
  }
}
.start__title {
  font-weight: 600;
  font-size: 1.875rem;
  color: #101828;
  line-height: 1.26;
}
@media (max-width: 29.99875em) {
  .start__title {
    font-size: 1.5rem;
  }
}
.start__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 50em) {
  .start__title:not(:last-child) {
    margin-bottom: 0.4375rem;
  }
}
.start__text {
  font-size: 1.25rem;
}
@media (max-width: 29.99875em) {
  .start__text {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}
.start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
@media (max-width: 23.4375em) {
  .start__actions {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.header__container {
  padding: 1.125rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 50em) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    padding: 0.625rem 0.9375rem;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
    padding: 0.3125rem 0.9375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.875rem;
          flex: 0 0 8.875rem;
  width: 8.875rem;
  height: 2rem;
}
@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.1875rem;
            flex: 0 0 7.1875rem;
    width: 7.1875rem;
    height: 1.75rem;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__link {
  position: relative;
  z-index: 5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}
@media (max-width: 29.99875em) {
  .header__link {
    padding: 0.5rem 0.875rem;
  }
}

@media (max-width: 50em) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 55%;
    height: 100%;
    border-radius: 0rem 0rem 0rem 1.875rem;
    padding: 5rem 1.875rem 0.9375rem 1.875rem;
    background-color: #065986;
    overflow: auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-open .menu {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 50em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1.25rem;
  }
}
.menu__item--parent {
  position: relative;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__item--parent .menu__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  background: url("../img/icons/chevron-down.svg") center/contain no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 50em) {
  .menu__item--parent .menu__link::after {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu__item--parent .menu__link::after {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu__item--parent:hover .menu__link::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu__item:hover .menu__link {
    color: #026aa2;
    text-decoration-color: inherit;
  }
}
@media (max-width: 50em) {
  .menu__link {
    color: #fff;
    font-size: 1.5rem;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  padding-top: 0.4375rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 50em) {
  .sub-menu {
    position: static;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    padding-top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
.sub-menu__list {
  width: 9.375rem;
  background-color: #065986;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
          box-shadow: 0px 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
}
@media (max-width: 50em) {
  .sub-menu__list {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0.3125rem;
    width: auto;
    background-color: #0086c9;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.sub-menu__link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration-color: inherit;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 50em) {
  .menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
    z-index: 4;
  }
}
.menu-icon span, .menu-icon::before, .menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-icon span {
  top: 50%;
  margin-top: -0.0625rem;
}
.menu-open .menu-icon span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #fff;
}
.menu-icon::before {
  top: 0;
}
.menu-open .menu-icon::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -0.0625rem;
  background-color: #fff;
}
.menu-icon::after {
  bottom: 0;
}
.menu-open .menu-icon::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: -0.0625rem;
  background-color: #fff;
}

.footer {
  padding: 3rem 0rem;
  background-color: #065986;
}
@media (max-width: 50em) {
  .footer {
    padding: 1.25rem 0rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 50em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .footer__container {
    row-gap: 0.9375rem;
  }
}
.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.875rem;
          flex: 0 0 8.875rem;
  width: 8.875rem;
  height: 2rem;
}
@media (max-width: 50em) {
  .footer__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
@media (max-width: 29.99875em) {
  .footer__logo {
    width: 7.1875rem;
    height: 1.75rem;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__copy {
  font-size: 1rem;
  color: #7cd4fd;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .social__link:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.partners {
  background-color: #065986;
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .partners {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .partners {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .partners {
    padding: 1.875rem 0rem;
  }
}
.partners__title {
  color: #b9e6fe;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.partners__title:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 50em) {
  .partners__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (any-hover: hover) {
  .partners__link:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.partners__link img {
  max-width: 12.5rem;
  max-height: 3.125rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 29.99875em) {
  .partners__link img {
    max-width: 9.375rem;
  }
}

.strategy {
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .strategy {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .strategy {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .strategy {
    padding: 1.875rem 0rem;
  }
}
.strategy__header {
  max-width: 48rem;
}
.strategy__header:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 50em) {
  .strategy__header:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 29.99875em) {
  .strategy__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.strategy__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
}
@media (max-width: 61.99875em) {
  .strategy__list {
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .strategy__item {
    text-align: center;
  }
}

.item-strategy__image {
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-strategy__image:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 50em) {
  .item-strategy__image:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.item-strategy__title {
  color: #101828;
  font-size: 1.25rem;
  font-weight: 600;
}
@media (max-width: 29.99875em) {
  .item-strategy__title {
    font-size: 1.125rem;
  }
}
.item-strategy__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (max-width: 50em) {
  .item-strategy__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
.item-strategy__text {
  font-size: 1rem;
}
.item-strategy__text:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 50em) {
  .item-strategy__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .item-strategy__text:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
.item-strategy__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.item-strategy__link {
  font-size: 1rem;
  color: #026aa2;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .item-strategy__link:hover {
    text-decoration-color: inherit;
  }
}
.item-strategy__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background: url(../img/icons/arrow-right-blue.svg) 0 0/contain no-repeat;
}

.pledge {
  background-color: #065986;
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .pledge {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .pledge {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .pledge {
    padding: 1.875rem 0rem;
  }
}
.pledge__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 74.99875em) {
  .pledge__container {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .pledge__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }
}
.pledge__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.5%;
          flex: 0 1 47.5%;
}
.pledge__header:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 50em) {
  .pledge__header:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.pledge__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
.pledge__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.5%;
          flex: 0 1 47.5%;
}
.pledge__top-images {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 10rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1rem;
}
@media (max-width: 29.99875em) {
  .pledge__top-images {
    grid-template-columns: repeat(2, minmax(5rem, 8.75rem));
    gap: 0.5rem;
  }
}
.pledge__top-images:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 29.99875em) {
  .pledge__top-images:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.pledge__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pledge__bottom-images {
  display: grid;
  grid-template-columns: minmax(6.25rem, 12rem) minmax(5rem, 10rem) minmax(6.25rem, 12rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1rem;
}
@media (max-width: 29.99875em) {
  .pledge__bottom-images {
    grid-template-columns: repeat(3, minmax(5rem, 8.75rem));
    gap: 0.5rem;
  }
}

.guarantee {
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .guarantee {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .guarantee {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .guarantee {
    padding: 1.875rem 0rem;
  }
}
.guarantee__header {
  max-width: 48.125rem;
  margin: 0 auto;
}
.guarantee__header:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 74.99875em) {
  .guarantee__header:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 61.99875em) {
  .guarantee__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .guarantee__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.guarantee__item:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 74.99875em) {
  .guarantee__item:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 50em) {
  .guarantee__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.item-guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  position: relative;
}
@media (max-width: 50em) {
  .item-guarantee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.item-guarantee::after {
  content: "";
  position: absolute;
  bottom: -6rem;
  right: -6rem;
  z-index: -1;
  width: 18.625rem;
  height: 25.5rem;
  background: url("../img/decor/line-01.svg") 0 0/cover no-repeat;
}
@media (max-width: 74.99875em) {
  .item-guarantee::after {
    height: 18.625rem;
    bottom: -2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .item-guarantee::after {
    width: 13.75rem;
    height: 13.75rem;
    right: -1.875rem;
  }
}
.item-guarantee:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 50em) {
  .item-guarantee:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-guarantee:nth-child(even)::after {
  left: -6rem;
  background: url("../img/decor/line-02.svg") 0 0/cover no-repeat;
}
.item-guarantee__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35rem;
          flex: 0 1 35rem;
}
@media (max-width: 50em) {
  .item-guarantee__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.item-guarantee__icon {
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-guarantee__title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #101828;
}
@media (max-width: 50em) {
  .item-guarantee__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.99875em) {
  .item-guarantee__title {
    font-size: 1.25rem;
  }
}
.item-guarantee__title:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 50em) {
  .item-guarantee__title:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 50em) {
  .item-guarantee__text {
    font-size: 1rem;
    text-align: justify;
  }
}
@media (max-width: 29.99875em) {
  .item-guarantee__text {
    line-height: 1.2;
  }
}
.item-guarantee__text:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 50em) {
  .item-guarantee__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-guarantee__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-guarantee__actions {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.75rem;
}
.item-guarantee__image {
  padding: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35rem;
          flex: 0 1 35rem;
  background-color: rgba(242, 244, 247, 0.5);
}
@media (max-width: 50em) {
  .item-guarantee__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.item-guarantee__image img {
  max-width: 30rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.25rem solid #101828;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 1.5rem 3rem -0.75rem rgba(16, 24, 40, 0.18);
          box-shadow: 0 1.5rem 3rem -0.75rem rgba(16, 24, 40, 0.18);
}
@media (max-width: 50em) {
  .item-guarantee__image img {
    max-width: 25rem;
  }
}

.page__business {
  background-color: #f9fafb;
}
.business {
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .business {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .business {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .business {
    padding: 1.875rem 0rem;
  }
}
.business__header:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 50em) {
  .business__header:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 29.99875em) {
  .business__header:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.business__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.9375rem;
     -moz-column-gap: 3.9375rem;
          column-gap: 3.9375rem;
}
@media (max-width: 74.99875em) {
  .business__content {
    margin-right: -0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .business__content {
    gap: 2rem;
  }
}
@media (max-width: 50em) {
  .business__content {
    display: block;
    margin-right: 0;
  }
}
.business__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35rem;
          flex: 0 1 35rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
}
@media (max-width: 50em) {
  .business__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .business__list:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 74.99875em) {
  .business__list {
    gap: 2rem;
  }
}
@media (max-width: 61.99875em) {
  .business__list {
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .business__list {
    gap: 0.75rem;
  }
}
.business__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37rem;
          flex: 0 1 37rem;
}
@media (max-width: 50em) {
  .business__image {
    max-width: 26.875rem;
    margin: 0 auto;
  }
}
@media (max-width: 23.4375em) {
  .business__image {
    margin: 0 -0.9375rem;
  }
}
.business__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-business {
  text-align: center;
  font-weight: 600;
}
@media (max-width: 61.99875em) {
  .item-business {
    line-height: 1.2;
  }
}
.item-business__number {
  display: block;
  font-size: 3.75rem;
  line-height: 1.2;
  color: #0086c9;
  letter-spacing: -0.125rem;
}
.item-business__number:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 61.99875em) {
  .item-business__number:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 74.99875em) {
  .item-business__number {
    font-size: 3.4375rem;
  }
}
@media (max-width: 61.99875em) {
  .item-business__number {
    font-size: 2.625rem;
  }
}
@media (max-width: 50em) {
  .item-business__number {
    font-size: 2.25rem;
  }
}
.item-business__title {
  color: #101828;
}
.item-business__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.item-business__text {
  font-size: 1rem;
  font-weight: 400;
}

.growing {
  padding: 6rem 0rem;
}
@media (max-width: 74.99875em) {
  .growing {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 50em) {
  .growing {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 29.99875em) {
  .growing {
    padding: 1.875rem 0rem 0rem 0rem;
  }
}
.growing__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
@media (max-width: 61.99875em) {
  .growing__container {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
@media (max-width: 50em) {
  .growing__container {
    grid-template-columns: auto;
  }
}
@media (max-width: 50em) {
  .growing__wrapper:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.growing__header {
  padding-bottom: 2.5rem;
  border-bottom: 0.0625rem solid #eaecf0;
}
.growing__header:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 61.99875em) {
  .growing__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .growing__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .growing__header {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .growing__header {
    padding-bottom: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .growing__text {
    line-height: 1.2;
    font-size: 1rem;
  }
}
.growing__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 61.99875em) {
  .growing__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}