@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 77.8125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #475467;
  font-size: 1.125rem;
  line-height: 1.5;
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.page-hero {
  max-width: 90rem;
  margin: 0 auto;
  padding: 10.625rem 0rem;
  position: relative;
}
.page-hero__content {
  max-width: 34.375rem;
}
.page-hero__label {
  position: relative;
  color: #026aa2;
  font-weight: 500;
  font-size: 0.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  background-color: #f0f9ff;
  border-radius: 1rem;
  padding: 0.25rem 1.875rem 0.25rem 0.25rem;
  border: 0.0625rem solid #b9e6fe;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page-hero__label:not(:last-child) {
  margin-bottom: 1rem;
}
@media (any-hover: hover) {
  .page-hero__label:hover {
    background-color: #065986;
    color: #fff;
  }
}
.page-hero__label span {
  padding: 0.125rem 0.625rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 0.0625rem solid #b9e6fe;
  color: #026aa2;
}
.page-hero__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.6875rem;
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/arrow-right.svg") 0 0/contain no-repeat;
}
.page-hero__title {
  font-size: 3.75rem;
  color: #101828;
  line-height: 120%;
  font-weight: 600;
}
.page-hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.page-hero__text:not(:last-child) {
  margin-bottom: 3rem;
}
.page-hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.page-hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
.page-hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
  padding: 1rem 1.5rem;
  color: #344054;
  border-radius: 0.5rem;
  border: 0.0625rem solid #d0d5dd;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .page-hero__link:hover {
    background-color: #065986;
    color: #fff;
    border-color: #065986;
  }
  .page-hero__link:hover path {
    stroke: #fff;
  }
}
.page-hero__link--blue {
  background-color: #0086c9;
  border: 0.0625rem solid #0086c9;
  color: #fff;
}
.page-hero__link path {
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}
.page-hero__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 47.5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.button {
  padding: 0.75rem 1.25rem;
  background-color: #0086c9;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #0086c9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #065986;
    border-color: #065986;
  }
}
.button--white {
  background-color: #fff;
  color: #344054;
  border: 0.0625rem solid #d0d5dd;
}
@media (any-hover: hover) {
  .button--white:hover {
    color: #fff;
  }
}

.section-header--text-center {
  text-align: center;
}
.section-header__sub-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #026aa2;
}
.section-header__sub-title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.section-header__title {
  color: #101828;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.section-header__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.section-header__text {
  font-size: 1.25rem;
}
.section-header__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header__container {
  padding: 1.125rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 50em) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    padding: 0.625rem 0.9375rem;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
    padding: 0.3125rem 0.9375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.875rem;
          flex: 0 0 8.875rem;
  width: 8.875rem;
  height: 2rem;
}
@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.1875rem;
            flex: 0 0 7.1875rem;
    width: 7.1875rem;
    height: 1.75rem;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__link {
  position: relative;
  z-index: 5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}
@media (max-width: 29.99875em) {
  .header__link {
    padding: 0.5rem 0.875rem;
  }
}

@media (max-width: 50em) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    border-radius: 0rem 0rem 0rem 1.875rem;
    padding: 5rem 1.875rem 0.9375rem 1.875rem;
    background-color: #065986;
    overflow: auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-open .menu {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 50em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1.25rem;
  }
}
.menu__item--parent {
  position: relative;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__item--parent .menu__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  background: url("../img/icons/chevron-down.svg") center/contain no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 50em) {
  .menu__item--parent .menu__link::after {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu__item--parent .menu__link::after {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu__item--parent:hover .menu__link::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu__item:hover .menu__link {
    color: #026aa2;
    text-decoration-color: inherit;
  }
}
@media (max-width: 50em) {
  .menu__link {
    color: #fff;
    font-size: 1.5rem;
  }
}

.sub-menu {
  position: absolute;
  top: 0.8125rem;
  left: 0;
  padding-top: 0.4375rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
@media (max-width: 50em) {
  .sub-menu {
    position: static;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    padding-top: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.sub-menu__list {
  width: 9.375rem;
  background-color: #065986;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
          box-shadow: 0px 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
}
@media (max-width: 50em) {
  .sub-menu__list {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0.3125rem;
    width: auto;
    background-color: #0086c9;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.sub-menu__link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration-color: inherit;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 50em) {
  .menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
  }
}
.menu-icon span, .menu-icon::before, .menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-icon span {
  top: 50%;
  margin-top: -0.0625rem;
}
.menu-open .menu-icon span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #fff;
}
.menu-icon::before {
  top: 0;
}
.menu-open .menu-icon::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -0.0625rem;
  background-color: #fff;
}
.menu-icon::after {
  bottom: 0;
}
.menu-open .menu-icon::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: -0.0625rem;
  background-color: #fff;
}

.footer {
  padding: 3rem 0rem;
  background-color: #065986;
}
@media (max-width: 50em) {
  .footer {
    padding: 1.25rem 0rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 50em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .footer__container {
    row-gap: 0.9375rem;
  }
}
.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.875rem;
          flex: 0 0 8.875rem;
  width: 8.875rem;
  height: 2rem;
}
@media (max-width: 50em) {
  .footer__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
@media (max-width: 29.99875em) {
  .footer__logo {
    width: 7.1875rem;
    height: 1.75rem;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__copy {
  font-size: 1rem;
  color: #7cd4fd;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .social__link:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}