// =============================================================================================================
.header {
   // .header__container
   &__container {
      padding: toRem(18) toRem(15);
      display: flex;
      column-gap: toRem(40);
      align-items: center;
      @media (max-width: toEm(800)) {
         column-gap: toRem(20);
         padding: toRem(10) toRem(15);
      }
      @media (max-width: toEm($mobileSmall)) {
         column-gap: toRem(10);
         padding: toRem(5) toRem(15);
      }
   }
   // .header__logo
   &__logo {
      position: relative;
      z-index: 5;
      flex: 0 0 toRem(142);
      width: toRem(142);
      height: toRem(32);
      @media (max-width: toEm($mobileSmall)) {
         flex: 0 0 toRem(115);
         width: toRem(115);
         height: toRem(28);
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   // .header__menu
   &__menu {
   }
   // .header__link
   &__link {
      position: relative;
      z-index: 5;
      flex-shrink: 0;
      margin-left: auto;
      @media (max-width: toEm($mobileSmall)) {
         padding: toRem(8) toRem(14);
      }
   }
}

.menu {
   @media (max-width: toEm(800)) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 4;
      width: 55%;
      height: 100%;
      border-radius: toRem(0) toRem(0) toRem(0) toRem(30);
      padding: toRem(80) toRem(30) toRem(15) toRem(30);
      background-color: $mainBgColor;
      overflow: auto;
      transform: scale(0);
      transform-origin: top right;
      transition: all 0.5s;
      .menu-open & {
         transform: scale(1);
      }
   }
   // .menu__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(32);
      row-gap: toRem(10);
      justify-content: center;
      @media (max-width: toEm(800)) {
         flex-direction: column;
         align-items: flex-end;
         row-gap: toRem(20);
      }
   }
   // .menu__item
   &__item {
      &--parent {
         position: relative;
         @media (any-pointer: none) {
         }
      }
   }
   // .menu__link
   &__link {
      display: flex;
      gap: toRem(13);
      align-items: center;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
      .menu__item--parent &::after {
         content: "";
         flex: 0 0 toRem(14);
         width: toRem(14);
         height: toRem(14);
         background: url("../img/icons/chevron-down.svg") center / contain no-repeat;
         transition: transform 0.3s;
         @media (max-width: toEm(800)) {
            display: none;
         }
         @media (hover: none) and (pointer: coarse) {
            display: none;
         }
      }
      @media (any-hover: hover) {
         .menu__item--parent:hover &::after {
            transform: rotate(180deg);
         }
         .menu__item:hover & {
            color: $accentColor;
            text-decoration-color: inherit;
         }
      }
      @media (max-width: toEm(800)) {
         color: #fff;
         font-size: toRem(24);
      }
   }
}

.sub-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 5;
   padding-top: toRem(7);
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
   transform: translateY(10%);
   transition: all 0.3s;
   @media (any-hover: hover) {
      .menu__item--parent:hover & {
         opacity: 1;
         pointer-events: all;
         visibility: visible;
         transform: translateY(0);
      }
   }
   @media (max-width: toEm(800)) {
      position: static;
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      padding-top: 0;
      transform: translateY(0);
   }
   // .sub-menu__list
   &__list {
      width: toRem(150);
      background-color: $mainBgColor;
      padding: toRem(15);
      border-radius: toRem(10);
      box-shadow: 0px toRem(8) toRem(24) rgba(149, 157, 165, 0.2);
      @media (max-width: toEm(800)) {
         box-shadow: none;
         padding: toRem(5);
         width: auto;
         background-color: $secondaryBgColor;
      }
   }
   // .sub-menu__item
   &__item {
      &:not(:last-child) {
         margin-bottom: toRem(7);
      }
   }
   // .sub-menu__link
   &__link {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
   }
}

.menu-icon {
   display: none;
   @media (max-width: toEm(800)) {
      display: block;
      flex: 0 0 toRem(30);
      width: toRem(30);
      height: toRem(20);
      position: relative;
      z-index: 4;
   }
   span,
   &::before,
   &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: toRem(2);
      background-color: #000;
      transition: all 0.5s;
   }
   span {
      top: 50%;
      margin-top: toRem(-1);
      .menu-open & {
         transform: scale(0);
         background-color: #fff;
      }
   }
   &::before {
      top: 0;
      .menu-open & {
         top: 50%;
         transform: rotate(45deg);
         margin-top: toRem(-1);
         background-color: #fff;
      }
   }
   &::after {
      bottom: 0;
      .menu-open & {
         bottom: 50%;
         transform: rotate(-45deg);
         margin-bottom: toRem(-1);
         background-color: #fff;
      }
   }
}
