.partners {
   background-color: $mainBgColor;
   padding: toRem(96) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm(800)) {
      padding: toRem(40) toRem(0);
   }
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(30) toRem(0);
   }
   // .partners__container
   &__container {
   }
   // .partners__title
   &__title {
      color: #b9e6fe;
      font-size: toRem(16);
      font-weight: 500;
      text-align: center;
      &:not(:last-child) {
         margin-bottom: toRem(32);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .partners__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(24);
      row-gap: toRem(10);
      align-items: center;
      justify-content: center;
   }
   // .partners__item
   &__item {
   }
   // .partners__link
   &__link {
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.05);
            }
         }
      }
      img {
         max-width: toRem(200);
         max-height: toRem(50);
         transition: transform 0.3s;
         @media (max-width: toEm($mobileSmall)) {
            max-width: toRem(150);
         }
      }
   }
}

// =============================================================================================================

.page {
   // .page__strategy
   &__strategy {
   }
   // .page__pledge
   &__pledge {
   }
   // .page__guarantee
   &__guarantee {
   }
}

// =============================================================================================================

.strategy {
   padding: toRem(96) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm(800)) {
      padding: toRem(40) toRem(0);
   }
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(30) toRem(0);
   }
   // .strategy__container
   &__container {
   }
   // .strategy__header
   &__header {
      max-width: toRem(768);
      &:not(:last-child) {
         margin-bottom: toRem(64);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(35);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .strategy__list
   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
      column-gap: toRem(32);
      row-gap: toRem(64);
      @media (max-width: toEm($tablet)) {
         gap: toRem(20);
      }
   }
   // .strategy__item
   &__item {
      @media (max-width: toEm($mobileSmall)) {
         text-align: center;
      }
   }
}

.item-strategy {
   // .item-strategy__image
   &__image {
      width: toRem(48);
      height: toRem(48);
      object-fit: contain;
      &:not(:last-child) {
         margin-bottom: toRem(20);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .item-strategy__title
   &__title {
      color: $secondaryTextColor;
      font-size: toRem(20);
      font-weight: 600;
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(18);
      }
      &:not(:last-child) {
         margin-bottom: toRem(8);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(5);
         }
      }
   }
   // .item-strategy__text
   &__text {
      font-size: toRem(16);
      &:not(:last-child) {
         margin-bottom: toRem(20);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(10);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(5);
         }
      }
      p {
         &:not(:last-child) {
            margin-bottom: toRem(5);
         }
      }
   }
   // .item-strategy__link
   &__link {
      font-size: toRem(16);
      color: $accentColor;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      gap: toRem(12);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
      &::after {
         content: "";
         flex: 0 0 toRem(12);
         width: toRem(12);
         height: toRem(12);
         background: url(../img/icons/arrow-right-blue.svg) 0 0 / contain no-repeat;
      }
   }
}

// =============================================================================================================

.pledge {
   background-color: $mainBgColor;
   padding: toRem(96) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm(800)) {
      padding: toRem(40) toRem(0);
   }
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(30) toRem(0);
   }
   // .pledge__container
   &__container {
      display: flex;
      column-gap: toRem(64);
      align-items: center;
      @media (max-width: toEm($pc)) {
         column-gap: toRem(35);
      }
      @media (max-width: toEm($tablet)) {
         flex-direction: column;
         row-gap: toRem(40);
      }
   }
   // .pledge__content
   &__content {
      flex: 0 1 47.5%;
   }
   // .pledge__header
   &__header {
      &:not(:last-child) {
         margin-bottom: toRem(48);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(25);
         }
      }
   }
   // .pledge__actions
   &__actions {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(12);
   }
   // .pledge__images
   &__images {
      flex: 0 1 47.5%;
   }
   // .pledge__top-images
   &__top-images {
      display: grid;
      grid-template-columns: repeat(2, minmax(toRem(80), toRem(160)));
      justify-content: center;
      align-items: end;
      gap: toRem(16);
      @media (max-width: toEm($mobileSmall)) {
         grid-template-columns: repeat(2, minmax(toRem(80), toRem(140)));
         gap: toRem(8);
      }
      &:not(:last-child) {
         margin-bottom: toRem(16);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(8);
         }
      }
   }
   // .pledge__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .pledge__bottom-images
   &__bottom-images {
      display: grid;
      grid-template-columns: minmax(toRem(100), toRem(192)) minmax(toRem(80), toRem(160)) minmax(toRem(100), toRem(192));
      justify-content: center;
      align-items: start;
      gap: toRem(16);
      @media (max-width: toEm($mobileSmall)) {
         grid-template-columns: repeat(3, minmax(toRem(80), toRem(140)));
         gap: toRem(8);
      }
   }
}

// =============================================================================================================

.guarantee {
   padding: toRem(96) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm(800)) {
      padding: toRem(40) toRem(0);
   }
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(30) toRem(0);
   }
   // .guarantee__container
   &__container {
   }
   // .guarantee__header
   &__header {
      max-width: toRem(770);
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: toRem(96);
         @media (max-width: toEm($pc)) {
            margin-bottom: toRem(70);
         }
         @media (max-width: toEm($tablet)) {
            margin-bottom: toRem(40);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(30);
         }
      }
   }
   // .guarantee__list
   &__list {
   }
   // .guarantee__item
   &__item {
      &:not(:last-child) {
         margin-bottom: toRem(96);
         @media (max-width: toEm($pc)) {
            margin-bottom: toRem(70);
         }
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(30);
         }
      }
   }
}

.item-guarantee {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: toRem(40);
   &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: toEm(800)) {
         flex-direction: column;
      }
   }
   @media (max-width: toEm(800)) {
      flex-direction: column;
      gap: toRem(20);
   }
   // .item-guarantee__content
   &__content {
      flex: 0 1 toRem(560);
      @media (max-width: toEm(800)) {
         flex: 0 1 auto;
      }
   }
   // .item-guarantee__icon
   &__icon {
      width: toRem(48);
      height: toRem(48);
      object-fit: contain;
   }
   // .item-guarantee__title
   &__title {
      font-size: toRem(30);
      font-weight: 600;
      color: $secondaryTextColor;
      @media (max-width: toEm(800)) {
         font-size: toRem(24);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(20);
      }
      &:not(:last-child) {
         margin-bottom: toRem(16);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(8);
         }
      }
   }
   // .item-guarantee__text
   &__text {
      @media (max-width: toEm(800)) {
         font-size: toRem(16);
         text-align: justify;
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 1.2;
      }
      &:not(:last-child) {
         margin-bottom: toRem(32);
         @media (max-width: toEm(800)) {
            margin-bottom: toRem(20);
         }
      }
      p {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .item-guarantee__actions
   &__actions {
      display: inline-flex;
      gap: toRem(12);
   }
   // .item-guarantee__image
   &__image {
      padding: toRem(40);
      flex: 0 1 toRem(560);
      background-color: #f2f4f7;
      @media (max-width: toEm(800)) {
         flex: 0 1 auto;
      }
      img {
         max-width: toRem(480);
         width: 100%;
         height: 100%;
         object-fit: cover;
         border: toRem(4) solid $secondaryTextColor;
         border-radius: toRem(6);
         box-shadow: 0 toRem(24) toRem(48) toRem(-12) rgba(16, 24, 40, 0.18);
         @media (max-width: toEm(800)) {
            max-width: toRem(400);
         }
      }
   }
}

// =============================================================================================================
