// Кольори
$mainTextColor: #475467;
$secondaryTextColor: #101828;
$accentColor: #026aa2;
$mainBgColor: #065986;
$secondaryBgColor: #0086c9;

// Брейкпоінти
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
